body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b3279;
}
h1{
    text-align: center;
    color: #fff;
}
input{
    text-align: center;
}
button{
    text-align: center;
}
div{
    text-align: center;
    color: red;
}